<form action="<%= todos_path %>" method="get" class="flex justify-between items-center">
  <input type="text" name="query" placeholder="Search todos" class="rounded-md">
  <div class="flex gap-2">
    <button type="submit" class="btn">Search</button>
    <%= link_to "Reset", todos_path, class: "btn bg-orange-300" %>
  </div>
</form>