<div id="<%= dom_id todo %>" class="p-4 border-2 rounded-xl w-full max-w-md">
  <p class="w-fit">
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p class="w-fit">
    <strong>Completed:</strong>
    <%= todo.completed %>
  </p>

</div>
