<div id="<%= dom_id todo %>" class="rounded-md px-4 py-2 bg-orange-100">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo.completed %>
  </p>

</div>
