<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <span class="<%= todo.completed? ? "text-green-500" : "text-red-500"%>">
      <%= todo.completed === "completed" ? "Completed" : "Not completed" %>
    </span>
  </p>

</div>
