<% content_for :title, "Editing todo" %>

<div>
  <%= link_to "<< Back to todos", todos_path, class:"hover:underline" %>
  <br> 
  <%= link_to "< Show this todo", @todo, class:"hover:underline" %>
</div>

<h1 class="text-3xl font-bold">Editing todo</h1>

<%= render "form", todo: @todo %>
