<p style="color: green"><%= notice %></p>

<% content_for :title, "Todos" %>

<div class="flex justify-between items-center">
  <h1 class="text-3xl text-center font-bold">Todos</h1>
  <%= link_to "+", new_todo_path , class:"border-2 p-2 px-4 rounded-full text-3xl font-bold"%>
</div>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= link_to todo, class:"" do %>
      <%= render todo %>
    <% end %>
  <% end %>
</div>
